<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../css/jquery-weui.min.css">
    <link rel="stylesheet" href="../../css/Index.css">

</head>
<body>
    <header>
        <a href=""><img src="../../img/07.png" class="img-responsive" id="Leftimg"></a>
        <a href=""><img src="../../img/08.png" class="img-responsive" id="Rightimg"></a>
    </header>
<div class="header">
    <img src="../../img/04.png" class="img-responsive">
</div>

    <div class="index">
        <div><a href="">总体状况及销售记录</a></div>
        <div><a href="">新增上位机</a></div>
        <div><a href="">非现金支付</a></div>
    </div>

    <div class="weui_tabbar">
        <a href="index.html" class="weui_tabbar_item weui_bar_item_on">
            <div>
                <img src="../../img/09.png" class="img-responsive">
                <b></b>
            </div>
        </a>
        <a href="" class="weui_tabbar_item">
            <div>
                <img src="../../img/10.png" class="img-responsive">
                <b></b>
            </div>
        </a>
        <a href="#tab3" class="weui_tabbar_item">
            <div>
                <img src="../../img/11.png" class="img-responsive">
                <b></b>
            </div>
        </a>
        <a href="#tab4" class="weui_tabbar_item cash">
            <div>
                <img src="../../img/12.png" class="img-responsive">
            </div>
        </a>
    </div>
    </div>
</body>
</html>