<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>以乐</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/tabAll.css">
    <link rel="stylesheet" type="text/css" href="../css/machine_state.css">
</head>
<body>
<section id="content">
    <section id="synthesize">
        <ul class="tabHeader">
            <li>上位机ID</li>
            <li>机器名称</li>
            <li>联网状态(最近联网)</li>
            <li>纸币/硬币找零</li>
            <li>...</li>
        </ul>
        <div class="tabContent">
            <div class="showTab">
                <ul>
                    <li><a href="#">C5A911241281</a></li>
                    <li>sohu11栋2号门</li>
                    <li class="internetOn">(07-17 13:21:07)</li>
                    <li><i class="paperOn"></i>/<i class="paperOn"></i></li>
                    <li class="showBtn"><img src="../img/手机版后台界面- 蓝色-18.png" alt="下拉"></li>
                </ul>
            </div>
            <div class="hideTab">
                <ul>
                    <li>今日<span>(金额/次数)</span></li>
                    <li>故障轨道</li>
                    <li>缺货轨道</li>
                    <li>库存<span>(故障)</span></li>
                    <li></li>
                </ul>
                <ul>
                    <li>90.0/25</li>
                    <li>7</li>
                    <li>3</li>
                    <li>225(2)</li>
                    <li></li>
                </ul>
                <ul>
                    <li>柜子/连体箱</li>
                    <li>版本</li>
                    <li>钱箱</li>
                    <li></li>
                </ul>
                <ul>
                    <li>ABC</li>
                    <li>7寸综合/1.4.6</li>
                    <li>1元:20个; 5角:10个</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="tabContent">
            <div class="showTab">
                <ul>
                    <li><a href="#">C5A911241281</a></li>
                    <li>sohu11栋2号门</li>
                    <li class="internetOff">(07-17 13:21:07)</li>
                    <li><i class="paperOn"></i>/<i class="metalOff"></i></li>
                    <li class="showBtn"><img src="../img/手机版后台界面- 蓝色-18.png" alt="下拉"></li>
                </ul>
            </div>
            <div class="hideTab">
                <ul>
                    <li>今日<span>(金额/次数)</span></li>
                    <li>故障轨道</li>
                    <li>缺货轨道</li>
                    <li>库存<span>(故障)</span></li>
                    <li></li>
                </ul>
                <ul>
                    <li>90.0/25</li>
                    <li>7</li>
                    <li>3</li>
                    <li>225(2)</li>
                    <li></li>
                </ul>
                <ul>
                    <li>柜子/连体箱</li>
                    <li>版本</li>
                    <li>钱箱</li>
                    <li></li>
                </ul>
                <ul>
                    <li>ABC</li>
                    <li>7寸综合/1.4.6</li>
                    <li>1元:20个; 5角:10个</li>
                    <li></li>
                </ul>
            </div>
        </div>

    </section>

</section>


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../js/market_data.js"></script>
</body>
</html>