<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>以乐</title>
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/market_data.css">
    <link rel="stylesheet" type="text/css" href="../css/pay.css">
    <script type="text/javascript">
        document.getElementsByTagName('html')[0].style.fontSize = window.screen.width/10+'px';
    </script>
</head>
<body>
<section>
    <ul id="tabHeader">
        <li>上机位</li>
        <li>支付时间</li>
        <li>金额</li>
        <li>支付收单</li>
        <li>...</li>
    </ul>
    <div class="tabContent">
        <div class="showTab">
            <ul>
                <li>102福鼎市盐城边防派出所F90813151281</li>
                <li>07-20 08:20:03</li>
                <li>2.0</li>
                <li>微信—福建市丰大</li>
                <li class="showBtn"><img src="../img/手机版后台界面- 蓝色-18.png" alt="下拉"></li>
            </ul>
        </div>
        <div class="hideTab">
            <ul>
                <li>交易号(tranid)</li>
                <li>支付者ID(openid)</li>
                <li>轨道</li>
                <li>实际销售</li>
                <li></li>
            </ul>
            <ul>
                <li>400885200120160720935830169</li>
                <li>oQv75vr5SpLLf13e35mOB1fCsupk</li>
                <li>32</li>
                <li>有</li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="tabContent">
        <div class="showTab">
            <ul>
                <li class="minName">F90813151281</li>
                <li>07-20 08:20:03</li>
                <li>2.0</li>
                <li>微信—福建市丰大</li>
                <li class="showBtn"><img src="../img/手机版后台界面- 蓝色-18.png" alt="下拉"></li>
            </ul>
        </div>
        <div class="hideTab">
            <ul>
                <li>交易号(tranid)</li>
                <li>支付者ID(openid)</li>
                <li>轨道</li>
                <li>实际销售</li>
                <li></li>
            </ul>
            <ul>
                <li>400885200120160720935830169</li>
                <li>oQv75vr5SpLLf13e35mOB1fCsupk</li>
                <li>32</li>
                <li class="retreat">销售处理</li>
                <li></li>
            </ul>
        </div>
    </div>

</section>
<div class="weui-infinite-scroll">
    <div class="infinite-preloader"></div><!-- 菊花 -->
    正在加载... <!-- 文案，可以自行修改 -->
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../js/market_data.js"></script>
</body>
</html>