
.tabHeader li {
    font-size: 0.56rem;
}


.tabHeader li:first-child, .tabContent li:first-child {
    width: 20%;
}

.tabHeader li:nth-child(2), .tabContent li:nth-child(2) {
    width: 21%;
}

.tabHeader li:nth-child(3), .tabContent li:nth-child(3),
#coffee .hideTab ul:nth-child(5) li:nth-child(2),
#coffee .hideTab ul:last-child li:nth-child(2)  {
    width: 29%;
}

.tabHeader li:nth-child(4), .tabContent li:nth-child(4),
#coffee .hideTab ul:nth-child(5) li:nth-child(3),
#coffee .hideTab ul:last-child li:nth-child(3)  {
    width: 25%;
}

.tabHeader li:last-child, .tabContent li:last-child {
    width: 5%;
}

.showTab li {
    font-size: 0.45rem;
}
/*图标*/
.showTab .internetOn {
    padding-left: 0.938rem;
    font-size: 0.488rem;
    background: url(../img/20.png) no-repeat;
    background-size: 0.656rem 0.56rem;
    background-position: 0.56rem 0.43rem;
}

.showTab .internetOff {
    padding-left: 0.938rem;
    font-size: 0.488rem;
    background: url(../img/19.png) no-repeat;
    background-size: 0.56rem 0.56rem;
    background-position: 0.56rem 0.375rem;
}

.showTab li .paperOn, .showTab li .metalOn {
    background: url(../img/greenline.png) no-repeat;
    background-size: 0.5rem 0.35rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.36rem;
    margin-right: 0.3rem;
}

.showTab li .paperOff, .showTab li .metalOff {
    background: url(../img/stop.png) no-repeat;
    background-size: 0.45rem 0.45rem;
    display: inline-block;
    width: 0.81rem;
    height: 0.45rem;
}
.weui_tab_bd{
    margin-bottom: 0.5rem;
    height: initial;
}
.showTab li:nth-child(4) i:last-child {
    margin-left: 0.375rem;
}

.tabContent ul:first-child li:first-child a {
    text-decoration: underline !important;
}

.tabContent .hideTab ul:nth-child(odd) li {
    font-size: 0.6rem;
}

.tabContent .hideTab ul:nth-child(even) li {
    border-bottom: none;
    font-size: 0.43rem;
}

.tabContent .hideTab ul:last-child li {
    border-bottom: 1px solid rgb(127, 201, 242);
}

.tabContent .hideTab ul:nth-child(odd) li span {
    font-size: 0.45rem;
}

#synthesize .tabContent .hideTab ul:nth-child(3) li:nth-child(3), #synthesize .tabContent .hideTab ul:nth-child(4) li:nth-child(3) {
    width: 54%;
}

.allFalse .showTab li:nth-child(4) .metal {
    background: url(../img/stop.png) no-repeat;
    background-size: 0.469rem 0.469rem;
    display: inline-block;
    width: 0.81rem;
    height: 0.45rem;
}
#content .tabContent .hideTab .none{
    font-size: 0.4rem;
}

/*drink*/
.tabContent .hideTab ul:nth-child(odd) li {
    font-size: 0.56rem;
}
/*coffee*/
#coffee .hideTab ul:nth-child(5) li:first-child , #coffee .hideTab ul:last-child li:first-child{
    width: 41%;
}
@media screen and (max-width: 360px) {
    .tabHeader li {
        font-size: 0.5rem;
    }
    .showTab .internetOn ,.showTab .internetOff{
        padding-left: 1.2rem;
        font-size: 0.42rem;
    }
    .tabContent .hideTab ul:nth-child(odd) li span {
        font-size: 0.35rem;
    }
    .tabContent .hideTab ul:nth-child(odd) li {
        font-size: 0.45rem;
    }
    html body .tabContent .minWord ,html body .tabContent .ellipsisWord{
        font-size: 0.4rem!important;
    }
    .showTab li {
        font-size: 0.4rem;
    }
}

/*header*/

.machineHeader{
    width: 12rem;
    display: inline-block;
    margin-top: 0.4rem;
    height: 1.2rem;
    border: 0.09rem solid #fff;
    border-radius: 0.3rem;
    box-sizing: inherit;
}
.machineHeader li {
    width: 4rem;
    font-size: 0.656rem;
    height: 100%;
    text-align: center;
    line-height: 1.2rem;
    font-weight: inherit;
    box-sizing: border-box;
    color: #fff;
    border-right: none;
    border-bottom: none;
    position: relative;
}
.machineHeader .borderLeft:before{
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0.2rem;
    width: 0.05rem;
    height: 0.8rem;
}
.machineHeader .active{
    background: #fff;
    width: 4rem;
    border-radius: 3px;
    color:rgb(32,159,234);
}
@media screen and (max-width: 320px) {
    .machineHeader{
        width: 9rem;
    }
    .machineHeader li{
        width: 3rem;
    }
    .machineHeader .active{
        width: 3rem;
    }
    .machineHeader .borderLeft:before{
        top: 0.2rem;
        width: 0.05rem;
        height: 0.77rem;
    }
}

