
.tabHeader li:first-child, .tabContent li:first-child {
    width: 20%;
}

.tabHeader li:nth-child(2), .tabContent li:nth-child(2) {
    width: 30%;
}

.tabHeader li:nth-child(3), .tabContent li:nth-child(3) {
    width: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabHeader li:nth-child(4), .tabContent li:nth-child(4) {
    width: 36%;
}

.tabHeader li:last-child, .tabContent li:last-child {
    width: 5%;
}

.tabContent .hideTab ul:last-child li {
    font-size: 0.43rem;
}

@media (min-width: 320px) and (max-width:360px) {
    .tabContent li{
        font-size: 0.42rem;
    }
}
.weui-infinite-scroll{
    display: none;
}
.weui-infinite-scroll , .noContent {
    margin-bottom: 1rem;
}
.zhanwei{
    height: 0.3rem;
}
#content{
    margin-bottom: 0.5rem;
}
html body .tabContent .ellipsisWord {
    word-break: break-all;
}
.records{
    display: none;
    height: 3px;
    line-height: 3px;
    padding: 0 10px;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: #c8c8cd;
    font-size: 0.5rem;
}
.tabContent .showTab ul li:nth-child(3){
    font-size: 0.5rem;
}
.tabContent .hideTab ul:nth-child(odd) li {
    font-size: 0.5rem;
}