
.tabHeader li:first-child, .tabContent li:first-child {
    width: 20%;
}

.tabHeader li:nth-child(2), .tabContent li:nth-child(2) {
    width: 30%;
}

.tabHeader li:nth-child(3), .tabContent li:nth-child(3) {
    width: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabHeader li:nth-child(4), .tabContent li:nth-child(4) {
    width: 36%;
}

.tabHeader li:last-child, .tabContent li:last-child {
    width: 5%;
}

.tabContent .hideTab ul:last-child li {
    font-size: 0.506rem;
}

.tabContent .hideTab ul:last-child li:nth-child(4) {
    line-height: 0.694rem;
}
@media (min-width: 320px) and (max-width:360px) {
    .tabContent li{
        font-size: 0.42rem;
    }
    .tabContent .hideTab ul:nth-child(odd) li:nth-child(3) {
        font-size: 0.59rem;
    }
}
.weui-infinite-scroll{
    display: none;
}
.weui-infinite-scroll , .noContent {
    margin-bottom: 0.9rem;
}
#content{
    margin-bottom: 1rem;
}
