header{
    position:relative;
    height:2rem;
    background-color:rgb(32,159,234);
    line-height:2rem;
    text-align: center;


}
header p{
    font-size: 1rem;
    color: #fff;
}
#Leftimg{
    width:8%;
    position:absolute;
    top:17%;
    left:3%;

}
#Rightimg{
    width:6%;
    position:absolute;
    top:20%;
    right:3%;
}

#index {
    height:28.5rem;
    background: url("../img/17.png") no-repeat;
    background-size: 19rem 28.25rem;
}
@media screen and (max-width: 320px){
    #index{
        height:23.75rem;
        background-size: 16rem 23.25rem;
    }

}
h4{
    margin-left:15%;

}
#title{
    color:rgb(0,146,232);
}
.caption{
    position:relative;
}

#content{
    padding-top:3%;

}
#content input{
    margin-top: 2%;
    height: 2.25rem;
    background-color: rgb(155,217,245);
    width: 66%;
    border-radius: 4px;
    padding-left: 3%;
    font-size: 0.75rem;

}
.form div{
    text-align:center;
}
.form{
    margin-top: 3%;

}
.form h5 {
    margin-top: 2%;
    margin-left:15%;
}
#content span{
    position: absolute;
    top: 33%;
    right: 18%;
    color: rgb(95,134,151);

}
#content select{
    margin-top: 2%;
    width: 69%;
    height: 2.25rem;
    background-color: rgb(155,217,245);
    border-radius: 4px;
    padding-left: 3%;
    border: none;
    outline: none;
    font-size: 0.75rem;

}
#content button{
    width: 69%;
    height: 2.25rem;
    background-color: rgb(32,157,231);
    border-radius: 6px;
    border: none;
    margin-left:15%;
    margin-top: 15%;
    font-size: 1rem;
    color: #fff;

}


#Rightimg {
    transition: All 1s ease;
    }
.transform{
    transform: rotate(360deg);
}
.nav{
    height:2.75rem;
    border-top:1px solid #ddd;
    width:100%;
    margin: auto;
    padding:0;
    font-size:14px;
    position:fixed;
    z-index:999;
    bottom:0px;
    left:0;
    right:0;
}
.nav li{
    width:25%;
    float:left;
    list-style:none;
    text-align:center;

}
.img1{
    width: 33%;
    margin-top: 9%;

}
.img2{
    width: 51%;
    margin-top: 12%;

}
.img3{
    width: 60%;
    margin-top: 14%;

}
.img4{
    width: 59%;
    margin-top: 16%;
}
.nav li b{
    float: right;
    margin-top: 14%;
    height: 1.5rem;
    border: 1px solid #ddd;

}
.link{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;

}
