header{
    position:relative;
    height:2rem;
    background-color:rgb(32,159,234);
    line-height:2rem;
    text-align: center;


}
header p{
    font-size: 1rem;
    color: #fff;
}
.nav{
    background-color:#fff;
    height:2.75rem;
    border-top:1px solid #ddd;
    width:100%;
    margin: auto;
    padding:0;
    font-size:14px;
    position:fixed;
    z-index:999;
    bottom:0px;
    left:0;
    right:0;
}
.nav li{
    width:25%;
    float:left;
    list-style:none;
    text-align:center;

}
#Leftimg{
    width:7%;
    position:absolute;
    top:20%;
    left:3%;

}

#index {
    height:28.5rem;
    background: url("../img/17.png") no-repeat;
    background-size: 19rem 28.25rem;
}
h4{
    margin-left:15%;
    width:70%;

}
#title{
    color:rgb(0,146,232);
}
.caption{
    position:relative;
}

#content{
    padding-top:3%;

}
#content input{
    border: none;
    margin-top: 2%;
    height: 2.25rem;
    background-color: rgb(155,217,245);
    width: 66%;
    border-radius: 4px;
    padding-left: 3%;
    font-size: 0.75rem;
    outline: none;

}

.form div{
    text-align:center;
}
.form{
    margin-top: 3%;

}
.form h5 {
    margin-top: 2%;
    margin-left:15%;
}
#content .think{
    position:absolute;
    top:53%;
    right:18%;
    width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.25rem solid black;

}
#content span{
    font-size:0.75rem;
    position: absolute;
    top: 33%;
    right: 18%;
    color: rgb(95,134,151);

}
#content select{
    margin-top: 2%;
    width: 69%;
    height: 2.25rem;
    background-color: rgb(155,217,245);
    border-radius: 4px;
    padding-left: 3%;
    border: none;
    outline: none;
    font-size: 0.75rem;

}

#content button{
    width: 69%;
    height: 2.25rem;
    background-color: rgb(32,157,231);
    border-radius: 6px;
    border: none;
    margin-left:15%;
    margin-top: 15%;
    font-size: 1rem;
    color: #fff;

}
.picker-button.close-select{
    position: absolute;
    right: 0;
    bottom: 20%;
    box-sizing: border-box;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #04BE02;
    z-index: 1;
    padding: 0.5rem;

}
.weui-picker-modal{
    width: 100%;
    position: absolute;
    bottom: 2.25rem;
    text-align: center;
    border-radius: 0;
    color: #3d4145;
    transition-duration: .3s;
    background: #EFEFF4;
    transition-property: transform,opacity,-webkit-transform;
}
.weui_cells.weui_cells_radio{
    height:11.5rem;
}
.weui_cells{
    font-size:0.75rem;
}
#Rightimg {
    width:100%;
    height:100%;
    transition: All 0.5s ease;
    }
.transform{
    transform: rotate(360deg);
}
.nav{
    background-color:#fff;
    height:2.75rem;
    border-top:1px solid #ddd;
    width:100%;
    margin: auto;
    padding:0;
    font-size:14px;
    position:fixed;
    z-index:999;
    bottom:0px;
    left:0;
    right:0;
}

.vending{
    position:relative;

}
.weui-picker-modal.weui-picker-calendar.weui-picker-modal-visible{
     padding-bottom:16%;

}
i.icon.icon-prev{
    width:0.75rem;
    background-image:url('../img/132.png');
}
i.icon.icon-next{
    width:0.75rem;
    background-image:url('../img/131.png');

}
.toolbar a{
    margin-top:7%;

}
.toolbar-inner{
    background-color: rgb(211,231,241);

}
.picker-calendar-week-days{
    background-color: rgb(211,231,241);

}

@media screen and (max-width: 736px){

    #Leftimg {
        width: 5%;
        position: absolute;
        top: 20%;
        left: 3%;
    }
    #index {
        height: 30.5rem;
        background: url(../img/17.png) no-repeat;
        background-size: 29rem 27.25rem;
    }
    .nav li b {
        float: right;
        margin-top: 8%;
        height: 1.75rem;
        border: 1px solid #ddd;
    }
    .img1 {
        width: 25%;
        margin-top: 5%;
    }
    .img2 {
        width: 36%;
        margin-top: 8%;
    }
    .img3 {
        width: 42%;
        margin-top: 9%;
    }
    .img4 {
        width: 41%;
        margin-top: 11%;
    }

}

@media screen and (max-width: 568px){
    #Leftimg {
        width: 5%;
        position: absolute;
        top: 25%;
        left: 3%;
    }
    #index {
        height: 28.5rem;
        background: url(../img/17.png) no-repeat;
        background-size: 24rem 26.25rem;
    }
    .nav {
        background-color: #fff;
        height: 2.25rem;
        border-top: 1px solid #ddd;
        width: 100%;
        margin: auto;
        padding: 0;
        font-size: 14px;
        position: fixed;
        z-index: 999;
        bottom: 0px;
        left: 0;
        right: 0;
    }
    .nav li b {
        float: right;
        margin-top: 8%;
        height: 1.5rem;
        border: 1px solid #ddd;
    }
    .img1 {
        width: 25%;
        margin-top: 7%;
    }
    .img2 {
        width: 36%;
        margin-top: 11%;
    }
    .img3 {
        width: 42%;
        margin-top: 11%;
    }
    .img4 {
        width: 41%;
        margin-top: 12%;
    }
}
@media screen and (max-width: 414px){
    #index {
        height:28.5rem;
        background: url("../img/17.png") no-repeat;
        background-size: 19rem 25.25rem;
    }
    .nav{
        background-color:#fff;
        height:2.75rem;
        border-top:1px solid #ddd;
        width:100%;
        margin: auto;
        padding:0;
        font-size:14px;
        position:fixed;
        z-index:999;
        bottom:0px;
        left:0;
        right:0;
    }
    .nav li b{
        float: right;
        margin-top: 14%;
        height: 1.5rem;
        border: 1px solid #ddd;

    }
    .img1{
        width: 33%;
        margin-top: 9%;

    }
    .img2{
        width: 51%;
        margin-top: 12%;

    }
    .img3{
        width: 60%;
        margin-top: 14%;

    }
    .img4{
        width: 59%;
        margin-top: 16%;
    }
}
@media screen and (max-width: 320px){
    #index{
        height:23.75rem;
        background-size: 16rem 23.25rem;
    }
    .nav{
        background-color:#fff;
        height:2.25rem;
        border-top:1px solid #ddd;
        width:100%;
        margin: auto;
        padding:0;
        font-size:14px;
        position:fixed;
        z-index:999;
        bottom:0px;
        left:0;
        right:0;

    }
    .nav li{
        width:25%;
        float:left;
        list-style:none;
        text-align:center;

    }
    .img1{
        width: 33%;
        margin-top: 9%;

    }
    .img2{
        width: 51%;
        margin-top: 12%;

    }
    .img3{
        width: 60%;
        margin-top: 14%;

    }
    .img4{
        width: 59%;
        margin-top: 16%;
    }
    .nav li b{
        float: right;
        margin-top: 14%;
        height: 1.5rem;
        border: 1px solid #ddd;

    }

}
